@font-face {
  font-family: "HAN";
  src: url("./assets/fonts/HANDotum.ttf");
}

@font-face {
  font-family: "INF";
  src: url("./assets/fonts/InfinitySansWMR-Regular.ttf");
}

@font-face {
  font-family: "B612";
  src: url("./assets/fonts/B612-Regular.ttf");
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
